.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--foreground);
    padding-bottom: 2px;
    p{
        font-weight: 600;
    }
}